/* variables de colores */
:root {
  --color-primario: #108eef;
  --color-primario-hover: #0d6bb3;
  --color-secundario: #3ae9ef;
  --color-secundario-hover: #20979e;
  --color-accento: #071d6d;
  --color-fondo: #f5f5f5;
  --header-fondo: #e7e5e5ba;
  --color-texto: #333333;
}

/* Estilos específicos para la página de inicio */
/* Estilos para el hero */
main {
  padding: 4rem 3rem;
}

main p {
  margin-top: 1rem;
  width: 56rem;
}

main .cta {
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}

main .cta a.proyectos-btn {
  text-decoration: none;
  background-color: var(--color-primario);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

main .cta a.sobre-mi-btn {
  text-decoration: none;
  border: 1px solid black;
  color: var(--color-texto);
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

/* Efectos hover para los botones */
main .cta a.proyectos-btn:hover {
  background-color: var(--color-primario-hover);
  transform: scale(1.05);
}

main .cta a.sobre-mi-btn:hover {
  background-color: var(--color-secundario-hover);
  color: white;
  border: none;
  transform: scale(1.05);
}

/* Estilos para la sección de logros */
.logros {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
}

.logros p {
  width: 56rem;
  margin-top: 0.6rem;
}

.logros .cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logros .cards .card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 2rem;
}

.logros .cards .card h3 {
  margin-bottom: 0.5rem;
}

.logros .cards .card p {
  color: var(--color-texto);
  font-size: 0.9rem;
  margin-bottom: 2rem;
  width: 24rem;
}

.logros .cards .card img {
  width: 20rem;
  max-height: 14rem;
  border-radius: 0.5rem;
}
