/* variables de colores */
:root {
  --color-primario: #108eef;
  --color-secundario: #3ae9ef;
  --color-acento: #071d6d;
  --color-primario-hover: #0b72c3;
  --color-secundario-hover: #1aaeb5;
  --color-fondo: #f5f5f5;
  --header-fondo: rgba(231, 229, 229, 0.73);
  --color-texto: #333333;
}

/* Estilos específicos para la página de inicio */
/* Estilos para el hero */
main {
  padding: 8rem 4rem;
}

main p {
  margin-top: 1rem;
  width: 56rem;
}

main .btns {
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}

main .btns a.proyectos-btn {
  text-decoration: none;
  background-color: var(--color-primario);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

main .btns a.sobre-mi-btn {
  text-decoration: none;
  border: 1px solid black;
  color: var(--color-texto);
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

/* Efectos hover para los botones */
main .btns a.proyectos-btn:hover {
  background-color: var(--color-primario-hover);
  transform: scale(1.05);
}

main .btns a.sobre-mi-btn:hover {
  background-color: var(--color-secundario-hover);
  color: white;
  border: none;
  transform: scale(1.05);
}

/* Estilos para la sección de logros */
.logros {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
}

.logros p {
  width: 56rem;
  margin-top: 0.6rem;
}

.logros .cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logros .cards .card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 2rem;
}

.logros .cards .card h3 {
  margin-bottom: 0.5rem;
}

.logros .cards .card p {
  color: var(--color-texto);
  font-size: 0.9rem;
  margin-bottom: 2rem;
  width: 24rem;
  height: 3rem;
}

.logros .cards .card img {
  width: 20rem;
  max-height: 10rem;
  border-radius: 0.5rem;
}

/* Estilos para la sección de sobre mi */
.sobre-mi {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.sobre-mi p {
  width: 60rem;
  margin-top: 0.6rem;
  text-align: center;
}

.sobre-mi h3 {
  margin-top: 2rem;
}

.sobre-mi .techs {
  margin-top: 1rem;
}
