/* variables de colores */
:root {
  --color-principal: #25a3ff;
  --text-color: #131b2e;
  --text-secundary: #404753;
  --text-pills: #57657a;
  --text-pills-dark: #447fb5;
  --dark-text-color: #e2e2e6;
  --dark-text-secundary: #8d8e96;
  --light-bg: #faf8ff;
  --dark-bg: #0f1115;
  --light-card-bg: #f2f3ff;
  --light-pills: #d5e3fc;
  --dark-card-bg: #2e3235;
  --dark-pills: #33353a;
  --light-bg-header: #efeff2;
  --dark-bg-header: #101216;
  --light-header-border: #c0c7d5;
  --dark-header-border: #1b1e22;
  --btn-gradient: linear-gradient(
    144deg,
    rgba(77, 171, 255, 1) 0%,
    rgba(37, 99, 235, 1) 100%
  );
}

/* Estilos específicos para la página de inicio */
/* Estilos para el hero */
.hero {
  margin: 12.8rem auto 0;
  display: grid;
  gap: 20rem;
  grid-template-columns: repeat(2, 0.3fr);
  width: fit-content;
}

.hero .principal {
  width: 30rem;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 6rem;
  color: var(--text-color);
}

.hero .rol {
  margin-top: 0.2rem;
  width: 18rem;
  font-size: 1.3rem;
  color: var(--text-secundary);
}

.hero .description {
  margin-top: 1rem;
  width: 18rem;
  color: var(--text-secundary);
}

.hero .ilustracion img {
  width: 40rem;
}

.hero .btns {
  margin-top: 3rem;
  gap: 2rem;
  display: flex;
}

/* --- Dark Mode --- */
.dark .hero h1 {
  color: var(--dark-text-color);
}

.dark .hero p {
  color: var(--dark-text-secundary);
}

/* --- Responsive --- */
@media (max-width: 900px) {
  body {
    width: 20rem;
    margin: 0 auto;
  }
  .hero {
    display: flex;
    width: fit-content;
    margin: 4rem auto;
    gap: 3.2rem;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 1.5rem;
    width: fit-content;
    margin-top: 4rem;
  }

  .hero .rol {
    margin-top: 0.2rem;
    width: 18rem;
    font-size: 1.2rem;
    color: var(--text-secundary);
  }

  .hero .description {
    margin-top: 1rem;
    width: 20rem;
    font-size: 0.9rem;
    color: var(--text-secundary);
  }

  .hero .principal {
    width: 20rem;
  }

  .hero .btns {
    margin-top: 3rem;
    gap: 2rem;
    display: flex;
    margin-bottom: 4rem;
  }

  .hero .ilustracion img {
    width: 20rem;
  }
}
