/* variables de colores */
:root {
  --color-primario: #108eef;
  --color-primario-hover: #0d6bb3;
  --color-secundario: #3ae9ef;
  --color-secundario-hover: #20979e;
  --color-accento: #071d6d;
  --color-fondo: #f5f5f5;
  --header-fondo: #e7e5e5ba;
  --color-texto: #333333;
}
