/* Importación de fuentes desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Estilos globales */
* {
  margin: 0;
}

html {
  scroll-behavior: smooth; /* desplazamiento suave al hacer clic en enlaces internos */
  background-color: var(--color-fondo);
  font-family: "IBM Plex Sans", sans-serif;
}
/* variables de colores */
:root {
  --color-primario: #108eef;
  --color-primario-hover: #0b72c3;
  --color-secundario: #3ae9ef;
  --color-secundario-hover: #1aaeb5;
  --color-accento: #071d6d;
  --color-fondo: #f5f5f5;
  --header-fondo: rgba(231, 229, 229, 0.73);
  --color-texto: #333333;
}

/* Estilos Barra de navegación */
header {
  padding: 0.6rem 2rem;
  background-color: var(--header-fondo);
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
}

header nav a {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 500;
  transition: all 0.3s;
}

header nav a:hover {
  scale: 1.1;
  color: black;
}

/* Estilos Footer */
